<h1>Angular Router App</h1>

<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li>
      <a routerLink="/somepath/{{ incId }}" routerLinkActive="active"
        >Some Path</a
      >
    </li>
    <li>
      <a routerLink="/anotherpath/{{ incId }}" routerLinkActive="active"
        >Another Path</a
      >
    </li>
    <li>
      <a routerLink="/somepath/{{ randomId }}" routerLinkActive="active"
        >Some Path RND</a
      >
    </li>
    <li>
      <a routerLink="/anotherpath/{{ randomId }}" routerLinkActive="active"
        >Another Path + rnd</a
      >
    </li>
  </ul>
</nav>

<p>Current Id: {{ currentId }}</p>

<ul>
  <li *ngFor="let item of items; index as i">
    <!-- <li *ngFor="let item of items"> -->
    <a (click)="clickedItem(i)" style="cursor: pointer;">
      <span *ngIf="item.done">✔</span>
      <span *ngIf="!item.done">❌</span>
      <span>{{ item.text }}</span>
    </a>
  </li>
</ul>
<div>
  <!-- <input
    type="text"
    name=""
    [value]="wipItemText"
    (input)="wipItemText = $event.target.value"
  />
  <input type="text" name="" [(ngModel)]="wipItemText" #ctrl="ngModel" /> 
  <button on-click="onAdd($event)"></button> -->
  <input type="text" #wipItemTextInput />
  <button (click)="addItem(wipItemTextInput.value)">Add</button>
</div>

<p>something random: {{ randomNr | number: "1.1-3" }}</p>

<p>RxTest via set in forEach: {{ helloRx }}</p>
<p>RxTest via direct stream: {{ helloRx$ | async }}</p>
